body {
    background-color: beige;
    font-family: Arial, sans-serif; 
  }
  
  header {
    background-color: rgba(79, 79, 236, 0.658);
    padding: 20px; 
  }
  
  main {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .TigrenseMultimedia, .final {
    background-color: rgb(14, 15, 110);
    color: #f84040e3;
    text-align: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  #contenedorNoticias{
    display: flex;
    flex-wrap: wrap;
  }
  .noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .caso {
    flex: 1;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    height: 16rem;
  }
  
  .caso img {
    height: 10rem;
  }
  
  p {
    color: rgb(0, 0, 0);
    line-height: 1.5; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  
 .izquierda{
  position: absolute;
  top: 0;
  margin: 2rem;
  left: 0;
  height: 4rem;
  }
  .comen{
    color: rgb(255, 255, 255);
    border: 5px solid rgb(255, 0, 0);
    border-radius: 13px;
    background-color: blue;
  }