body {
    background-color: beige;
    font-family: Arial, sans-serif; 
  }
  
img{
    height: 15rem;
    border: 5px solid rgb(0, 89, 255);
    border-radius: 13px;
}
.TituloBajas{
  color:blue;
  padding: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.TextoBajas{
color: black;
}
