body {
    background-color: beige;
    font-family: Arial, sans-serif; 
  }
  
img{
    height: 10rem;
    
}

video{
  height: 15rem;
  
}

.TituloTRefuerzo{
    color: darkblue;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

