body {
    background-color: beige;
    font-family: Arial, sans-serif; 
  }
  
img{
    height: 15rem;
    
}

video{
  height: 15rem;
  
}

.TituloRefuerzo{
    color:blue;
    padding: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.textoRefuerzo{
  color: black;
}
