img{
    width:750px;
    height: 350px;
}
body {
    background-color: beige;
    font-family: Arial, sans-serif; 
  }
  
  .titulo {
    color:  rgb(14, 15, 110);
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .PARTIDO1 , p{
    color:  rgb(0, 0, 0);
    padding: 20px;
    
  }
  
  
