body {
  background-color: beige;
  font-family: Arial, sans-serif; 
}
.titulo {
  color: darkblue;
}
img{
  height: 25rem;
}

.ResumenPartido1{
  border: 5px solid rgb(0, 89, 255);
  border-radius: 13px;
  height: 25rem;
  
}